@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.common-header__inner{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    // transform: translate(-50%,-200%);
    // transition: transform .5s cubic-bezier(0.34, 1.36, 0.74, 1);
    margin-top: pcc(29);
    background: #fff;
    padding: 16px 0 15px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    border-radius: 50px;
    width: pcc(640);
    &.show{
        transform: translate(-50%,0%);
    }
    >li{
        cursor: pointer;
        font-weight: bold;
        font-size: min(pcf(14),14px);
        line-height: 1;
        background: none;
        color: c.$text;
        border-radius: 30px;
        transition: all .2s ease;
        padding: 0{
            top: calc(11 / 640) * 100%;
            bottom: calc(12 / 640) * 100%;
            left: calc(20 / 640) * 100%;
            right: calc(20 / 640) * 100%;
        }
        a{
            color: c.$text;
            transition: all .2s ease;
        }
        
        &:hover{
            color: #fff;
            background: c.$text;
            a{
                color: #fff;
            }
        }
        &.active{
            a{
                color: #fff;
                background: c.$text;
                span{
                    background: #fff;
                }
            }
        }
    }
}

.header-contents__links{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-300%);
    background: #fff;
    padding: 28px 26px;
    width: fit-content;
    margin: pcc(120) auto 0;
    z-index: 500;
    border-radius: 15px;
    transition: all 1s cubic-bezier(0.34, 1.26, 0.74, 1);
    &.show{
        transform: translate(-50%,0%);
        
    }
    &__inner{
        display: flex;
        gap: 2px;
        justify-content: center;
        >li{
            width: fit-content;
            a{
                background: none;
                padding: 9px 14px;
                border-radius: 30px;
                color: c.$text;
                display: flex;
                align-items: center;
                vertical-align: middle;
                font-weight: bold;
                font-size: min(pcf(14),14px);
                line-height: 1;
                gap: 10px;
                transition: all .2s ease;
                span{
                    width: 9px;
                    height: 4px;
                    border-radius: 10px;
                    background: c.$text;
                }
                p,span{
                    display: block;
                }
            }
            &:hover{
                a{
                    color: #fff;
                    background: c.$text;
                    span{
                        background: #fff;
                    }
                }
            }
            
        }
    }
}

.header-service-links{
    width: pcc(827);
    display: flex;
    .header-contents__links__inner{
        width: 25%;
        display: block;
        >li{
            margin-top: 4px;
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4){
                margin-top: 0;
            }
        }
        
    }

}