<div class="common-header pc">
    <ul class="common-header__inner">
        <li>
            <a href="">
                トップ
            </a>
        </li>
        <li date-tag="header_1">
            記事一覧
        </li>
        <li date-tag="header_2">
            商品ラインナップ
        </li>
        <li date-tag="header_3">
            サービス
        </li>
        <li>
            <a href="">
            お問い合わせ
            </a>
        </li>
    </ul>
    <div class="header-contents__links header-top-links" date-tag="header_1">
        <ul class="header-contents__links__inner">
            <li>
                <a href="">
                    <span></span>
                    <p>記事一覧</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>販促品のススメ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>販促品のススメ</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="header-contents__links header-top-links" date-tag="header_2">
        <ul class="header-contents__links__inner">
            <li>
                <a href="">
                    <span></span>
                    <p>カタログ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>名入れ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>追加作業</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="header-contents__links header-service-links" date-tag="header_3">
        <ul class="header-contents__links__inner">
            <li>
                <a href="">
                    <span></span>
                    <p>モシモニソナエル</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>リル【Re】</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>アクティブ・レジャー</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
        </ul>
        <ul class="header-contents__links__inner">
            <li>
                <a href="">
                    <span></span>
                    <p>モシモニソナエル</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>アクティブ・レジャー</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>アクティブ・レジャー</p>
                </a>
            </li>
        </ul>
        <ul class="header-contents__links__inner">
            <li>
                <a href="">
                    <span></span>
                    <p>キャンプス</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>アクティブ・レジャー</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>アクティブ・レジャー</p>
                </a>
            </li>
        </ul>
        <ul class="header-contents__links__inner">
            <li>
                <a href="">
                    <span></span>
                    <p>グランゴールド</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>アクティブ・レジャー</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span></span>
                    <p>バッグ</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>
